body {
    background-image: url('/img/template.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form {
    background-color: rgba(255, 255, 255, 0.7); /* ใส่สีพื้นหลังของฟอร์ม */
    padding: 25px;
    border-radius: 15px; /* ใส่เส้นขอบโค้งสำหรับฟอร์ม */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาใต้ฟอร์ม */
}
#login-form label {
    display: block;
    margin-bottom: 15px;
    color: #333; /* เปลี่ยนสีข้อความ */
}
#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="submit"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
}
#login-form input[type="submit"] {
    background-color: #007bff; /* เปลี่ยนสีปุ่ม */
    color: #fff;
    cursor: pointer;
}
#login-form:hover input[type="submit"] {
    background-color: #4e90d8; /* เปลี่ยนสีปุ่ม */
    color: #fff;
    cursor: pointer;
}